h1{
    text-align: center
}
p1{
    text-decoration-line: underline

}
body{
    background-color: #edc97d
        
}
p{
    font-size:50px;
    font-family: sans-serif;
    align-items:
    
    
}

img{
     padding:99px;
   
}

.ctrImg{
    display:block;
    margin:0 auto;
    
}





