
h1{
    text-align: center
        
}

h1{
    font-size: 100
}

body{
    background-color: #edc97d;
        
}
p{
    font-size:50px;
    font-family: sans-serif;
    
    
    
}

img{
     padding-left: 375;
   
}

.ctrImg{
    display:block;
    margin:0 auto;

    
   
    


    